{# src/Oxygen/BlogBundle/Resources/views/Page/contact.html.twig #}
{% extends 'OxygenBlogBundle::layout.html.twig' %}

{% block title %}Contact{% endblock%}

{% block body %}
<header>
  <h1>Contact symblog</h1>
</header>

{% if app.session.hasFlash('oxygen-notice') %}
<div class="oxygen-notice">
        {{ app.session.flash('oxygen-notice') }}
  </div>
{% endif %}

  <p>Want to contact symblog?</p>

  <form action="{{ path('OxygenBlogBundle_contact') }}" method="post" {{ form_enctype(form) }} class="oxygen">
        {{ form_errors(form) }}

        {{ form_row(form.name) }}
        {{ form_row(form.email) }}
        {{ form_row(form.subject) }}
        {{ form_row(form.body) }}

        {{ form_rest(form) }}

      <input type="submit" value="Submit" />
    </form>
{% endblock %}