{# src/Oxygen/BlogBundle/Resources/views/Page/sidebar.html.twig #}

<section class="section">
  <header>
    <h3>Archives</h3>
  </header>
  <p>
        {% for archive_date in archive_dates %}
          <p><a href="{{ path('OxygenBlogBundle_blog_date', {'date' : archive_date }) }}">{{ archive_date|replace({'/':' '}) }}</a></p>
        {% else %}
          <p>There are no previous blog posts</p>
        {% endfor %}
  </p>
</section>
{% render 'OxygenBlogBundle:Blog:latestBlogsSummary' with {'category': 0,'number_of_posts': 3, 'length': 10} %}
<section class="section">
  <header>
    <h3>Tag Cloud</h3>
  </header>
  <p class="tags">
        {% for tag, weight in tags %}
      <span class="weight-{{ weight }}">{{ tag }}</span>
        {% else %}
    <p>There are no tags</p>
        {% endfor %}
  </p>
</section>

<section class="section">
  <header>
    <h3>Categories</h3>
  </header>
  <p>
        {% for category in categories %}
          <p><a href="{{ path('OxygenBlogBundle_blog_category', {'category' : category.slug }) }}">{{ category.name|title }}</a></p>
        {% else %}
          <p>There are no categories</p>
        {% endfor %}
  </p>
</section>
<section class="section">
  <header>
    <h3>Latest Comments</h3>
  </header>
    {% for comment in latestComments %}
  <article class="comment">
    <header>
      <p class="small"><span class="highlight">{{ comment.user }}</span> commented on
        <a href="{{ path('OxygenBlogBundle_blog_show', { 'id': comment.blog.id }) }}#comment-{{ comment.id }}">
                        {{ comment.blog.title }}
          </a>
          [<em><time datetime="{{ comment.created|date('c') }}">{{ comment.created|date('Y-m-d h:iA') }}</time></em>]
        </p>
      </header>
      <p>{{ comment.comment }}</p>
      </p>
    </article>
    {% else %}
    <p>There are no recent comments</p>
    {% endfor %}
  </section>